{% extends 'base.html' %}


{% block title %}
Answer question
{% endblock %}

{% block body %}
        <h1>{% block header %}Answer question: {% endblock %}</h1>
        <!-- This form will send its data as a POST request
            to 'http://localhost:5000/question/<question_id>/add_answer' route when
            the user submits the form -->
        <form class="form-group col-lg-5"  action="/question/{{ question_id }}/new_answer" method="post">
            <!-- Label for the textarea to help the user understand what it is for. -->
            <p ><label  for="title">{% block quest_title %}{% endblock %}</label><br>
            <textarea class="form-control col-lg-6" id="title" name="title" rows="1" cols="40">{{ title if title }}</textarea>
            </p>
            <p>
            <label for="message">{% block message %}{% endblock %}</label><br>
            <textarea  class="form-control col-lg-6" id="message" name="message" rows="4" cols="60">{{ message if message }}</textarea>
            </p>
            {% block update %}{% endblock %}
            <button class="btn btn-success mt-4 btn-lg" type="submit">Submit</button>
        </form>
{% endblock %}

