{% extends 'base.html' %}

{% block title %}
Answer site
{% endblock %}

{% block body %}

<div>
        <h1>{{ answer.message }}</h1>
    <p>{{ answer.submission_time }}</p>
    <a href="/answer/{{ answer.id }}/delete" type="button" class="btn btn-outline-secondary btn-lg active btn-sm mt-2 mb-3" role="button">Delete answer</a><br>
    <a href="/answer/{{ answer.id }}/vote-up" type="button" class="btn btn-outline-success btn-lg active btn-sm mt-2 mb-3" role="button">Vote up</a>  <a href="/answer/{{ answer.id }}/vote-down" type="button" class="btn btn-outline-danger btn-lg active btn-sm mt-2 mb-3" role="button">Vote down</a><br>

</div>
{% endblock %}