{% extends 'base.html' %}

{% block title %}
    add comment to question
{% endblock %}


{% block body %}
     <h2>Add comment to question</h2>
         <form class="form-group col-lg-5" action="/question/{{question_id}}/new-comment" method="post">
            <label>Comment: </label><br>
             <input  class="form-control col-lg-6" type="text" name="comment"/><br>

            <button type="submit" class="btn btn-success mt-4 btn-lg"><strong>Submit</strong></button>
        </form>

{% endblock %}