<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Questions</title>
    </head>
    <body>
        <h3>Questions</h3>
        <a href="/question">Add new question</a><br>
             {% for item in list %}
                 <p>{{ item.id }}. {{ item.title }}</p>
                 <p>Time of the submission: {{ item.submission_time }}</p>
                 <p>View number: {{ item.view_number }}</p>
                 <p>Votes: {{ item.vote_number }}</p>
                 <p>{{ item.message }}</p>
                 <p>{{ item.image }}</p>
                 <p><a href="/question/{{ item.id }}/new_answer">Add new answer</a><br></p>
             {% endfor %}
    </body>
</html>


