{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}

{% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
<h2>Register</h2>
<form class="container col-lg-4 mt-5" action="/register" method="post">
      <!--<div class="form-group mb-2">
      <label for="username">User name</label>
      <input type="text" class="form-control" id="username" placeholder="Enter name">
      </div> -->
   <div class="form-group mb-2">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name ="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
   </div>
   <div class="form-group mb-2">
   <label for="exampleInputPassword1">Password</label>
   <input type="password" class="form-control" id="exampleInputPassword1" name="psw" placeholder="Password">
   </div>
   <!--<div class="form-group mb-2">
      <label for="exampleInputPassword1">Repeat password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="psw2" placeholder="Password">
      </div>-->
   <button type="submit" class="btn btn-primary mt-3 mb-2">Submit</button>
</form>
{% endblock %}