{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block body %}
<div class="container mt-5">
     <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Users</h1>
            <table>
                <tr>
                    <th>User name</th>
                    <th>Registration date</th>
                    <th>Number of asked questions</th>
                    <th>Number of answers</th>
                    <th>Number of comments</th>
                    <th>Reputation</th>
                </tr>
                {% for item in member %}
                <tr>
                    <td><a href="/user/{{ item.member_id }}">{{ item.user_name }}</a></td>
                    <td>{{ item.registration_date }}</td>
                    <td>{{ item.number_of_questions }}</td>
                    <td>{{ item.number_of_answers }}</td>
                    <td>{{ item.number_of_comments }}</td>
                    <td>{{ item.reputation }}</td>
                </tr>
                {% endfor %}
            </table>
     </div>
</div>
{% endblock %}